body, html {
  margin            : 5px;
  padding           : 0;
  color             : color_blue;

  font-family       : font_family_default;
  font-size         : font_size_default;
  font-weight       : font_weight_default;
}
